<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="1dv406_AdventureWorksAssignmentConnectionString"
         connectionString="Data Source=172.16.214.1; Initial Catalog=1dv406_AdventureWorksAssignment; User ID=appUser; Password=&quot;1Br@Lösen=rd?&quot;"
         providerName="System.Data.SQLClient" />
    
  </connectionStrings>
       
  
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>